html
  head
    link(rel='stylesheet', href='./css/style.css') 
  body
    .main 
        .area 
            .shape#shape-1
            .shape#shape-2
            div
                h1 Make it #[span shorter] 
                p This is a simple url shortener 
                .input-area
                    input#input-box(type='text', placeholder='Type a boring url to shorten')
                    button#input-button DO IT
                #result-link.invisible Link burada 
    script(src='./js/script.js')