html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea:focus,
input:focus {
  outline: none;
  border-color: orange;
}

.main {
  background: #24c6dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #514a9d,
    #24c6dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #514a9d,
    #24c6dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.area {
  text-align: center;
  color: darkblue;
  padding: 5vw;
  min-width: 60vw;
  min-height: 50vh;
  background-color: #0a1b47;
  border-radius: 1vw;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.shape {
  position: absolute;
  width: 25vw;
  height: 25vw;
  background: orange;
  opacity: 0.6;
  border-radius: 25vw;
}

#shape-1 {
  top: -8vw;
  left: -8vw;
}

#shape-2 {
  bottom: -5vw;
  right: -15vw;
}
.area h1 {
  font-size: 4em;
  margin: 0;
  color: white;
}

.area h1 span {
  color: orange;
}
.area p {
  color: #cacaca;
  font-size: 1.5em;
  margin: 0;
  margin-top: 1vh;
}

.input-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-top: 5vh;
}

#input-box {
  min-width: 30vw;
  font-size: 1.2em;
  color: #aaaaaa;
  padding: 1vw;
  background-color: white;
  border-radius: 1vw;
}

#input-button {
  background-color: orange;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 1vw;
  border-radius: 1vw;
  transition: 0.1s ease;
}
#input-button:hover {
  background-color: #ffba3d;
  cursor: pointer;
}

.result-link {
    margin-top: 3vh;
    font-size: 2.3em;
    font-weight: bold;
    color: #6bfc6a;
    min-height: 6vh;
}

.result-link:hover {
    cursor: pointer;
}

#copy {
    color: #7dffff;
    font-size: 1em;
    margin: 0;
}

.error {
    color: #fc6a6a;
    font-size: 1.5em;
}

@media (max-width: 830px) {
    .area {
        width: 90vw;
        height: 80vh;
        padding: 0;
    }
}

.invisible {
  visibility: hidden;
}

@media only screen and (max-width: 510px) {
  .input-area {
    display: grid;
    gap: 2vh;
  }
  #input-box {
    width: 70vw;
    text-align: center;
    height: 5vh;
  }
  #input-button {
    height: 5vh;
  }
}